<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.servicelocatorloginscreeen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServiceLocatorLoginScreeen">
        <activity android:name=".ResetPassword"></activity>
        <activity android:name=".ComUpdateProfile" />
        <activity android:name=".RequestSummary" />
        <activity android:name=".Profilepage" />
        <activity android:name=".ProfilesList" />
        <activity android:name=".CompanySignUp" />
        <activity android:name=".UserSignUp" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>